# Challenge 2 - Update Users

We at CashBox would like you to update the user with email address kimberly@yahoo.com to have the last name "Deal".

There is a misspelling of a user whose username is **jeffrey**. It should only be one `f`, **jefrey**.

There are a couple ways to make this change happen, let's see what you can figure out!

After you've completed the TODO's click the `Run Tests` button

*Need a little extra help? Check out the [Treehouse Forum](https://teamtreehouse.com/community?instruction=4572).*

In [1]:
# Setup
import os
import pandas as pd

from tests.helpers import check

pd.options.display.max_rows = 10
users = pd.read_csv(os.path.join('data', 'users.csv'), index_col=0)
# Pop out a quick sanity check
len(users)

475

In [5]:
users.head()

,first_name,last_name,email,email_verified,signup_date,referral_count,balance
aaron,Aaron,Davis,aaron6348@gmail.com,True,2018-08-31,6,18.14
acook,Anthony,Cook,cook@gmail.com,True,2018-05-12,2,55.45
adam.saunders,Adam,Saunders,adam@gmail.com,False,2018-05-29,3,72.12
adrian,Adrian,Fang,adrian.fang@teamtreehouse.com,True,2018-04-28,3,30.01
adrian.blair,Adrian,Blair,adrian9335@gmail.com,True,2018-06-16,7,25.85

In [10]:
## CHALLENGE - Update users ##

# TODO: Update kimberly@yahoo.com to have the last name of "Deal"
print(users.loc[(users["email"]=="kimberly@yahoo.com")])

users.loc[(users["email"]=="kimberly@yahoo.com"),"last_name"] = "Deal"

print(users.loc[(users["email"]=="kimberly@yahoo.com")])

         first_name last_name               email  email_verified signup_date  \
kimberly   Kimberly       NaN  kimberly@yahoo.com           False  2018-01-06

          referral_count  balance
kimberly               5    54.73
         first_name last_name               email  email_verified signup_date  \
kimberly   Kimberly      Deal  kimberly@yahoo.com           False  2018-01-06

          referral_count  balance
kimberly               5    54.73

In [17]:
# TODO: Update the username jeffrey to jefrey (only one f)
print(users.loc[(users.index=="jeffrey")])

users.index.set_value(users.index, 'jeffrey', 'jefrey')

        first_name last_name                    email  email_verified  \
jeffrey    Jeffrey   Stewart  stewart7222@hotmail.com            True

        signup_date  referral_count  balance       0
jeffrey  2018-01-02               0    40.58  jefrey
       first_name last_name                    email  email_verified  \
jefrey    Jeffrey   Stewart  stewart7222@hotmail.com            True

       signup_date  referral_count  balance       0
jefrey  2018-01-02               0    40.58  jefrey

In [18]:
users.loc[(users.index=="jefrey")]

,first_name,last_name,email,email_verified,signup_date,referral_count,balance,0
jefrey,Jeffrey,Stewart,stewart7222@hotmail.com,True,2018-01-02,0,40.58,jefrey